.container-card {
    display: flex;
    justify-content: space-arround;
}

.card {
    margin: 10px;
}

.card-title {
    color: brown;
    font-size: 2rem;
    text-align: center;
    font-family: var(--font-third);
}

.card-text {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-style: italic;
    color: var(--color-main);
    font-family: var(--font-third);
}

.d-grid
{
    
    bottom: 0;
}
.btn {
    margin: 0 20px 0 20px;
}

.card-body {

}

/* .card-photo {
    height: 100%;
    width: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.card-photo {
    width: 100%;
    min-height: 188.5px;
    object-fit: contain;
    max-height: 350px;
}

