@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Merriweather);
/* $red: #e74c3c; */

html,
body {
    background: #f1f1f1;
}

div {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #a8a8a8;
    text-shadow: 1px 1px 0 #e74c3c;
}


form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    text-align: center;
    margin: 50px auto;
}

label,
input[type="submit"] {
    width: 200px;
    /* display: inline-block; */
}

input {
    border: 0;
    outline: 0;
    padding: 1em;
    border-radius: 8px;
    display: block;
    width: 200px;
    margin-top: 1em;
    font-family: 'Merriweather', sans-serif;
    box-shadow: 0 1px 1px rgba(black, 0.1);
    resize: none;
}

:focus {
    outline: none;
}


input:focus:invalid {
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535;
}


input:focus:valid {
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++ */

button {
    margin: 2rem auto;
    max-width: 400px;
    border: none;
    color: white;
    border-radius: .25rem;
    font-size: 1.125rem;
    padding: 20px 60px;
    cursor: pointer
}


.btn-envoi {

    background: linear-gradient(135deg, #17ead9 0%, #6078ea 100%);
    color: #fff;
    text-align: center;
    transition: all 0.4s ease-in-out;
}

.btn-envoi:hover {

    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    animation: nom_anim_bouton 1s infinite alternate; 
    
}

@keyframes nom_anim_bouton {

    from {

        box-shadow: 0 0 5px #6078ea
    }

    to {

        box-shadow: 0 0 15px hsl(230, 77%, 25%)
    }

}


