/*? MEDIAQUERIES HORS BOOTSTRAP ?*/

/*- Pense Bête */
/*- Pour résolution d'écran d'au maximum de 480px (smartphone) -*/
/*- @media only screen and (max-width: 480px) {} -*/

/*- Pour une résolution d'écran d'au maximum 768px (tablette) -*/
/*- @media only screen and (max-width: 768px) {} -*/

/*- Pour une résolution d'écran d'au minimum 768px (tablette et +) -*/
/*- @media only screen and (min-width: 768px) {} -*/

/*- Pour une résolution d'écran d'au minimum 992px (tablette, ordinateur et +) -*/
/*- @media only screen and (min-width: 992px) {} */

/*- Tu peux même dire que tu veux afficher une propriété entre deux largeur -*/
/*- @media only screen and (min-width: 480px) and (max-width: 992px) {} -*/


@media (min-width: 768px) {
    h1.title {
        font-size: 2.1rem;
    }
}

@media (max-width: 767px) {
    .home-page {
        margin-left: 15%;
        margin-top: 0;
    }

    h2.slogan {
        display: none;
    }

    nav.navbar {
        opacity: 0.8;
    }

    p.section-title {
        font-size: 2.6rem;
    }

    .blockquote-footer {
        font-size: 1.3rem;
    }

    .card-photo {
        width: 100%;
        height: auto;
        object-fit: contain;
        max-height: 350px;
    }
}

@media (max-width: 576px) {

    div.formReservation {
        background-image: linear-gradient(125deg, #a72879, #064497);
    }

    body {
        width: 100%;
        height: 100%;
    }

    .home-page {
        bottom: 0;
        margin-left: 5%;
    }

    header .row {
        background-image: url(../images/bg-top.jpg);
        object-fit: cover;
        background-size: 100%;
    }

    img.photo-article.img-fluid {
        width: 100%;
        height: auto;
        object-fit: contain;
        max-height: 300px;
        padding: 0 50px;
    }

    p.section-title>span.letter-style {
        font-family: var(--font-third);
        font-size: 5rem;
    }

    p.section-title {
        font-size: 2.5rem;
    }

    p.article-title>span.letter-style {
        font-size: 4rem;
        font-style: italic;
    }

    .blockquote-footer {
        font-size: 1.2rem;
    }

    .article-title-words {
        color: #262626;
        font-size: 2rem;
        font-style: italic;
    }

}