a.navbar-brand>span.letter-style {
    color: #0dcaf0;
    font-family: var(--font-nav-maj);
}


.name-association {
    font-size: 1.5rem;
    font-style: normal;
    font-family: var(--font-nav);
    font-style: italic;
    letter-spacing: 2px;
}


.nav-link {
    font-family: var(--font-third);
    font-style: normal;
    font-size: 1.7rem;
}

ul.navbar-nav>li.nav-item>a.nav-link:hover {
    color: #0dcaf0;
}

.navbar-brand img {
    max-height: 50px;
}

nav ul {
    margin-left: auto;
    font-size: 1rem;
}

.navbar-toggler {
    text-align: center;
    border: none;
}

.navbar-toggler-icon {
    color: chartreuse;
    font-size: 2.5rem;
}