@import url('https://fonts.googleapis.com/css2?family=Cutive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');

a.navbar-brand>span.letter-style {
    color: #0dcaf0;
    font-family: 'Vast Shadow', cursive;
}


.name-association {
    font-size: 1.5rem;
    font-style: normal;
    font-family: 'Cutive',serif;
    font-style: italic;
    letter-spacing: 2px;
}


.nav-link {
    font-size: 2rem;
}


.navbar-brand img {
    max-height: 50px;
}

nav ul {
    margin-left: auto;
    font-size: 1rem;
}

.navbar-toggler {
    text-align: center;
    border: none;
}

.navbar-toggler-icon {
    color: chartreuse;
    font-size: 2.5rem;
}